.btn{
    margin: 0.2rem;
    padding: .5rem 3rem;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    border: none;
    &-blue{
        color: white;
        background-color:#0095f6;
    }
    &-post{
        font-weight:500 ;
        color:#0095f6 ;
        border: none;
        font-size: 1.02rem;
        cursor: pointer;
        background-color: white;
        // &:active,&:{
        // }
        &:disabled{
            cursor: auto;
            color:#b8b8b8;
        }
    }
}