@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import "/src/sass/abstracts/variable.scss";
// body{
//     background-color: aqua;
// }
.navbar{
    width: 100%;
    height: 3.7rem;
    background-color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    border-bottom: 2px solid $color-dark-grey;
    &_container{
        min-width: 60rem;
        max-width: 60rem;
        height: 100%;
        background-color: white;
    }

}
.nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-icon{
        font-family: 'Quintessential', cursive;
        font-weight: 800;
    }
}

.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &_item{
        list-style: none;
        margin: 0 .2rem;
    }
}
.messanger{
    stroke: black;
    fill: $color-white;
    stroke-width: 35;
    margin: .2rem;
    // padding: .2rem;
    &:hover{
        fill: black;
    }
}
.square{
    fill: blue;
        stroke: white;
    

}
.squareClicked{
    fill: black;
        stroke: white;
}
.home{
    text-decoration: none;
    &:visited{
        color:black;
    }
}